[defaults]
# Inventario por defecto
inventory = inventory/hosts.yml

# Usuario SSH
remote_user = uceda

# Escalada de privilegios
become = true
become_method = sudo

# Paralelismo (5 nodos en paralelo)
forks = 5

# No verificar fingerprint SSH (laboratorio)
host_key_checking = False

# Caché de facts (1 hora) — evita re-recopilar en cada ejecución
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600

# Salida más legible
stdout_callback = yaml

# Mostrar timer de tasks lentas
callbacks_enabled = timer, profile_tasks

# Ruta de los roles (relativa a ansible.cfg)
roles_path = roles

[privilege_escalation]
become_ask_pass = false
